
<nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">Shoes!</a>

    
        <a class="pure-menu-selected" href="#">Home</a>
        <a href="#"><%= link_to "All Users", users_path %></a>
        <a href="#"><%= link_to "New User", new_user_path %></a>
        <a href="#"><%= link_to "Shoes", shoes_path %></a>
        <a href="#"><%= link_to "New Shoe", new_shoe_path %></a>
    
</nav>